@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    display: grid;
    background-color: rgb(54, 30, 0);
    grid-template: auto 1fr auto / auto 1fr auto; 
    height: 100vh;
    margin: 0;
}

header {
    background-color: rgb(157, 185, 235);
    font-family: "Source Serif 4", serif;
    grid-column: 1 / 4;
    padding: 0;
}


h1 {
    text-align: center;
    grid-column: 1 / 4;
        
}

h1 .course-title {
    display: block;
}

main{
    display: grid;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    border-radius: 0%;
    font-family: cursive;
    grid-column: 1 / 4;
}

main nav a  {
    list-style-type: none;
    text-decoration: none;
    border: none;
}

main nav ul  {
    list-style-type: none;

}

.card{
  background-color: rgb(136, 168, 240);
  color: rgb(10, 13, 15);
  padding: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 20px;
  border-radius: 6px;
  text-align: center;  
}

.card h2 { 
    text-align: center;
    background-color: rgb(67, 125, 169);
    color: rgb(255, 240, 168);
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-family: "Comic Relief", system-ui;
}

footer {
    background-color: blanchedalmond;
    grid-column: 1 / 4;
    padding: 1fr;
    text-align: center;
    font-size: 0.9rem;
}

header nav {
    background-color: rgb(10, 49, 10);
    font-family: "Comic Relief", system-ui;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav li {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #eee;
    justify-content: center;
    color: aliceblue;
}

header nav a {
    display: block;
    text-decoration: none;   
    padding: 1rem;
    color: rgb(233, 247, 195);
    text-align: center;
}

header nav a:hover {
  background-color: #133f13;
}

@media (min-width: 640px) {
    header nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    header nav li {
        border: none;
        
    }
}