body {
    display: grid;
    background-color: rgb(54, 30, 0);
    grid-template: auto 1fr auto / auto 1fr auto; 
    height: 100vh;
}

header {
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: 1 / 4;
    padding: 0;
}

main {
    background-color: rgb(233, 247, 195);
    grid-column: 1 / 3;
    padding: o;
}

h1 .course-title {
    display: block;
    
}

h1 {
    text-align: center;
}
nav ul {
    display: flex;
    background-color: rgb(10, 49, 10);
    list-style: none;
    padding: 1rem;
}

nav a {
    text-decoration: none; 
    color: aliceblue;   
}

nav li {
    flex: 1 1 auto;
    text-align: center;

}

heading {
    background-color: rgb(10, 49, 10);
    color: aliceblue;
}

footer {
    background-color: blanchedalmond;
    grid-column: 1 / 4;
    padding: o;
    text-align: center;
}