body {
    display: grid;
    background-color: bisque;
    grid-template: auto 1fr auto / auto 1fr auto; 
    height: 100vh;
}

header {
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: 1 / 4;
    padding: 0;
}

main {
    background-color: plum;
    grid-column: 1 / 3;
    padding: o;
}

